[Unit]
Description=Alexa client for raspberry pi

Wants=network.target network-online.target
Requires=sound.target
After=network.target network-online.target sound.target

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/alexa/alexa-pi/app.js

User=alexapi
Group=alexapi

ProtectHome=true
RuntimeDirectory=AlexaPi
RuntimeDirectoryMode=0770
WorkingDirectory=/run/AlexaPi

[Install]
WantedBy=default.target