[Unit]
Description=Alexa client for raspberry pi

Wants=network.target network-online.target
Requires=sound.target
After=network.target network-online.target sound.target vasd.service

[Service]
Type=simple
ExecStartPre=/usr/bin/pulseaudio --start --log-target=syslog --system=false 
ExecStart=/usr/bin/bash -c "node /opt/alexa/alexa-pi/app.js"

User=pi
Group=pi

RuntimeDirectory=alexapi
RuntimeDirectoryMode=0770
WorkingDirectory=/run/alexapi

[Install]
WantedBy=default.target